#main {
	margin: auto;
	width: 350px;
	height: 110px;
	padding: 30px 20px;
}
.numbers1 {
	width: 90px;
	height: 120px;
	float: left;
	font-size: 75px;
	text-align:center;
	vertical-align: middle;
	line-height: 120px;
}
.numbers2 {
	width: 120px;
	height: 120px;
	float: left;
	font-size: 75px;
	text-align:center;
	vertical-align: middle;
	line-height: 120px;
}
.char {
	width: 20px;
	height: 120px;
	float: left;
	font-size: 75px;
	text-align:center;
	vertical-align: middle;
	line-height: 120px;
}
.buttons {
	margin: 10px 10px 10px 10px;
}
.hidden {
	display: none;
	float: right;
}
.block {
	display: block;
	float: right;
}